swagger: '2.0'
info:
  version: '1.0.0'
  title: API Tantakatu
host: "dashboard.heroku.com"
x-basePath: 
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /categorias:
    get:
      description: Muestra la lista de todas las categorias
      operationId: ListarCategorias
      produces:
        - application/json
        - application/xml
        - text/xml
        - text/html
     
      responses:
        '200':
          description: categorias response
          schema:
            type: array
            items:
              $ref: '#/definitions/categorias'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    post:
      body:
        schema: |
          { "$schema": "http://json-schema.org/draft-03/schema",
            "type": "object",
            "description": "categoria",
            "properties": 
            {
              "idCategoria": { "type": "integer" },
              "Descripcion": { "type": "string"},
              "Estado": { "type": "string"},           
            }
          }
   // put:
      

  /categorias/{id}:
    get:
      description: Muestra la categoria correspondiente al id inidcado
      operationId: Categoria
      produces:
        - application/json
        - application/xml
        - text/xml
        - text/html
      parameters:
        - name: idCategoria
          in: path
          description: ID de la categoria 
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Respuesta Categoria
          schema:
            $ref: '#/definitions/categoria'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    delete:
        description: Elimina una categoria con el id indicado
        operationId: ElimnarCategoria
        parameters:
          - name: idCategoria
            in: path
            description: Id de la Categoria eliminada
            required: true
            type: integer
            format: int64
        responses:
          '204':
            description: Categoria Eliminada
          default:
            description: unexpected error
            schema:
              $ref: '#/definitions/errorModel'
      
definitions:
  categoria:
    type: object
    properties:
      idCategoria:
        type: integer
        description: Identificador de categoria, autoincrementable.
      descripcion:
        type: string
        description: Descripcion de la idea.
      estado:
        type: string
        description: Estado de la categoria
  errorModel:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string